
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #0a0a0a;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, sans-serif;
}

/* Contenedor Cesium */
#cesiumContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


.cesium-viewer-toolbar {
  top: 10px !important;
}

/* quitar creditos  */
.cesium-credit-textContainer,
.cesium-credit-logoContainer {
  display: none !important;
}




/* HOTSPOT */

.hotspotImg {
  position: absolute;
  width: 30px;       /* tamaño del icono */
  height: 30px;
  cursor: pointer;
  z-index: 1000;
  transition: transform 0.2s ease;

  /* Centrado interno */
  display: none; 
  justify-content: center;
  align-items: center;

  
  animation: pulseImg 2s infinite;
}

/* Imagen interna */
.hotspotImg img {
  width: 100%;
  height: 100%;
  object-fit: contain;

  /* Glow alrededor del icono */
  filter: drop-shadow(0 0 6px rgba(255,255,255,0.9))
          drop-shadow(0 0 12px rgba(255,255,255,0.5));
}

.hotspotImg:hover {
  transform: scale(1.15);
}

/* animacionn */
@keyframes pulseImg {
  0%   { transform: scale(1); opacity: 1; }
  50%  { transform: scale(1.2); opacity: 0.75; }
  100% { transform: scale(1); opacity: 1; }
}

/* preview minuaturas */
.hotspotPreview {
  position: absolute;
  bottom: 55px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0,0,0,0.75);
  padding: 6px;
  border-radius: 10px;
  border: 1px solid rgba(255,255,255,0.3);
  display: none;
  z-index: 2000;
}

.hotspotPreview img {
  width: 140px;
  height: auto;
  border-radius: 6px;
}

/* mostrar minitaurua al pasar el mouse */
.hotspotImg:hover .hotspotPreview {
  display: block;
}

/* panel inferior */
#sceneDock {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(0,0,0,0.65);
  backdrop-filter: blur(5px);
  padding: 10px 0 5px 0;
  box-shadow: 0px -5px 15px rgba(0,0,0,0.4);
  transition: transform 0.35s ease;
  z-index: 99999;
}

/* plegar panel */
#sceneDock.collapsed {
  transform: translateY(85%);
}

/* boton para plegar */
#dockToggle {
  width: 40px;
  height: 22px;
  background: rgba(255,255,255,0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 8px auto;
  border-radius: 6px;
  cursor: pointer;
  font-size: 18px;
  color: white;
  user-select: none;
}

/* Contenedor de miniaturas */
#dockContent {
  white-space: nowrap;
  overflow-x: auto;
  padding: 5px 10px;
  display: flex;
  gap: 12px;
}

/* Cada miniatura */
.dockThumb {
  width: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.dockThumb img {
  width: 120px;
  height: 70px;
  object-fit: cover;
  border-radius: 8px;
  border: 1px solid rgba(255,255,255,0.4);
  transition: transform 0.2s ease;
}

.dockThumb img:hover {
  transform: scale(1.05);
}

/* Título de la miniatura */
.dockLabel {
  margin-top: 4px;
  color: white;
  font-size: 13px;
  text-align: center;
  text-shadow: 0px 1px 4px black;
}

/* Scrollbar invisible */
#dockContent::-webkit-scrollbar {
  height: 6px;
}
#dockContent::-webkit-scrollbar-thumb {
  background: rgba(255,255,255,0.3);
}

/* === POPUP 360 === */
.tour-popup {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999;
  backdrop-filter: blur(4px);
}

.tour-popup.hidden {
  display: none;
}

.tour-popup-content {
  position: relative;
  width: 85%;
  height: 85%;
  background: #000;
  border-radius: 12px;
  overflow: hidden;
  display: flex;                 
}


.tour-popup-close {
  position: absolute;
  bottom: 18px;
  left: 50%;
  transform: translateX(-50%);
  width: 46px;
  height: 46px;
  background: rgba(0,0,0,0.55);
  color: white;
  border-radius: 50%;
  font-size: 22px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 300000;
  text-shadow: 0 0 6px #000;
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
  transition: 0.25s ease;
}

.tour-popup-close:hover {
  background: rgba(0,0,0,0.85);
  transform: translateX(-50%) scale(1.12);
}



.tour-popup iframe {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  border: none;
  z-index: 100;
}


#appLogo {
  position: absolute;
  top: 18px;
  left: 18px;
  z-index: 200000;   
  pointer-events: none;  
}

#appLogo img {
  width: 140px;     
  opacity: 0.90;
}
/* ==== panel capas cesium ==== */
#layerControl {
  position: absolute;
  top: 80px;
  left: 15px;
  background: rgba(0,0,0,0.65);
  padding: 12px 15px;
  border-radius: 10px;
  color: white;
  font-size: 14px;
  z-index: 99999;
  backdrop-filter: blur(4px);
}

#layerControl label {
  cursor: pointer;
  display: block;
  margin-bottom: 6px;
}

#layerControl input[type="checkbox"] {
  margin-right: 6px;
  transform: scale(1.2);
}
